Repository JiscSD/octopus, pull requests merged in 2022-04, with the labels that each got.

#106 Creating an API endpoint to create ratings for publications
  api/prisma/migrations/20220321153010_/migration.sql
  api/prisma/schema.prisma
  api/serverless.yml
  api/src/components/rating/__tests__/createRating.ts
  api/src/components/rating/controller.ts
  api/src/components/rating/routes.ts
  api/src/components/rating/schema/index.ts
  api/src/components/rating/schema/upsert.ts
  api/src/components/rating/service.ts
  api/src/lib/helpers.ts
  api/src/lib/interface.ts
  api/tsconfig.json
Labels: api

#110 View ratings on an individual publication page
  README.md
  api/prisma/migrations/20220404150333_/migration.sql
  api/src/components/publication/controller.ts
  api/src/components/publication/service.ts
  api/src/components/rating/service.ts
  api/src/lib/client.ts
Labels: documentation, enhancement, api

#103 Co-authors (OCT-43)
  api/prisma/migrations/20220329101128_coauthors_table/migration.sql
  api/prisma/migrations/20220408100748_/migration.sql
  api/prisma/schema.prisma
  api/prisma/seeds/publications.ts
  api/prisma/seeds/publicationsDevSeedData.ts
  api/prisma/seeds/users.ts
  api/serverless.yml
  api/src/components/coauthor/__tests__/createCoAuthor.test.ts
  api/src/components/coauthor/__tests__/deleteCoAuthor.test.ts
  api/src/components/coauthor/__tests__/linkCoAuthor.test.ts
  api/src/components/coauthor/__tests__/updateCoAuthor.ts
  api/src/components/coauthor/controller.ts
  api/src/components/coauthor/routes.ts
  api/src/components/coauthor/schema/create.ts
  api/src/components/coauthor/schema/index.ts
  api/src/components/coauthor/schema/link.ts
  api/src/components/coauthor/schema/update.ts
  api/src/components/coauthor/service.ts
  api/src/components/publication/__tests__/createFlag.test.ts
  api/src/components/publication/__tests__/createPublication.test.ts
  api/src/components/publication/__tests__/deletePublication.test.ts
  api/src/components/publication/controller.ts
  api/src/components/publication/service.ts
  api/src/lib/interface.ts
Labels: enhancement, api

#112 Ratings seed
  api/prisma/migrations/20220308173743_adding_education_and_employment_to_users/migration.sql
  api/prisma/migrations/20220308173840_adding_education/migration.sql
  api/prisma/migrations/20220321153010_/migration.sql
  api/prisma/migrations/20220329101128_coauthors_table/migration.sql
  api/prisma/migrations/20220404150333_/migration.sql
  api/prisma/migrations/20220408100748_/migration.sql
  api/prisma/migrations/20220412093058_init/migration.sql
  api/prisma/seeds/publications.ts
  api/src/components/rating/__tests__/getRating.ts
  api/src/components/rating/service.ts
Labels: Fix, api

#113 Create an API endpoint for a flagging dispute process
  api/prisma/migrations/20220412125234_init/migration.sql
  api/prisma/schema.prisma
  api/prisma/seeds/publications.ts
  api/prisma/seeds/users.ts
  api/serverless.yml
  api/src/components/publication/__tests__/createFlag.test.ts
  api/src/components/publication/__tests__/createFlagComment.test.ts
  api/src/components/publication/__tests__/resolveFlag.test.ts
  api/src/components/publication/controller.ts
  api/src/components/publication/routes.ts
  api/src/components/publication/schema/createFlag.ts
  api/src/components/publication/schema/createFlagComment.ts
  api/src/components/publication/schema/index.ts
  api/src/components/publication/service.ts
  api/src/components/user/__tests__/getUser.test.ts
  api/src/lib/interface.ts
  api/src/lib/testUtils.ts
Labels: enhancement, api

#115 Adding/deleting images via the API (OCT-196)
  .gitignore
  api/package-lock.json
  api/package.json
  api/prisma/migrations/20220419100253_images/migration.sql
  api/prisma/schema.prisma
  api/prisma/seed.ts
  api/serverless.yml
  api/src/components/coauthor/controller.ts
  api/src/components/coauthor/routes.ts
  api/src/components/image/controller.ts
  api/src/components/image/routes.ts
  api/src/components/image/service.ts
  api/src/lib/interface.ts
  api/tsconfig.json
  docker-compose.yml
  infra/create-app/main.tf
  infra/modules/s3/main.tf
  infra/modules/s3/vars.tf
  ui/src/lib/helpers.tsx
  ui/src/pages/index.tsx
Labels: enhancement, setup, improvements needed, api, ui

#98 FAQ page (OCT-150)
  ui/src/assets/index.ts
  ui/src/assets/octopusLogo.tsx
  ui/src/components/Accordion/index.tsx
  ui/src/components/Faq/Sidebar/index.tsx
  ui/src/components/index.tsx
  ui/src/pages/faq.tsx
  ui/src/pages/privacy.tsx
Labels: enhancement, ui

#116 Ratings bug fixes & updated publication flow body copy.
  api/serverless.yml
  api/src/components/publication/service.ts
  api/src/components/rating/controller.ts
  api/src/components/rating/routes.ts
  api/src/components/rating/schema/get.ts
  api/src/components/rating/schema/index.ts
  api/src/components/rating/service.ts
  api/src/lib/interface.ts
  ui/src/components/Publication/Creation/StepFive.tsx
  ui/src/components/Publication/Creation/StepOne.tsx
  ui/src/components/Publication/Creation/StepTwo.tsx
  ui/src/components/Publication/SidebarCard/Actions/index.tsx
  ui/src/components/Publication/SidebarCard/Ratings/index.tsx
  ui/src/config/values.ts
  ui/src/lib/helpers.tsx
  ui/src/lib/interfaces.ts
  ui/src/pages/_app.tsx
  ui/src/pages/create.tsx
Labels: Fix, api, ui

#118 Image uploading & URL source (OCT-198)
  ui/package-lock.json
  ui/package.json
  ui/src/components/Editor/MenuBar/index.tsx
  ui/src/components/Editor/index.tsx
  ui/src/components/FileUpload/index.tsx
  ui/src/components/ImagePreview.tsx
  ui/src/components/Modal/Button/index.tsx
  ui/src/components/Modal/index.tsx
  ui/src/components/Tabs/Tab/index.tsx
  ui/src/components/Tabs/TabHead/index.tsx
  ui/src/components/Tabs/index.tsx
  ui/src/components/TextEditor/index.tsx
  ui/src/components/URLSourceUpload/index.tsx
  ui/src/components/index.tsx
  ui/src/config/urls.ts
  ui/src/lib/api.ts
  ui/src/lib/helpers.tsx
  ui/src/lib/interfaces.ts
  ui/src/lib/types.ts
  ui/src/pages/_app.tsx
  ui/src/pages/create.tsx
  ui/tailwind.config.js
Labels: enhancement, improvements needed, ui

#120 Language (OCT 145)
  api/prisma/migrations/20220412125234_init/migration.sql
  api/prisma/migrations/20220419100253_images/migration.sql
  api/prisma/migrations/20220426131207_init/migration.sql
  api/prisma/schema.prisma
  api/prisma/seed.ts
  api/src/components/publication/__tests__/createPublication.test.ts
  api/src/components/publication/__tests__/updatePublication.test.ts
  api/src/components/publication/schema/create.ts
  api/src/components/publication/schema/update.ts
  api/src/components/publication/service.ts
  api/src/lib/helpers.ts
  api/src/lib/interface.ts
  ui/src/components/Publication/Creation/StepFour.tsx
  ui/src/components/Publication/SidebarCard/General/index.tsx
  ui/src/components/Users/SearchResult/index.tsx
  ui/src/config/values.ts
  ui/src/layouts/BuildPublication.tsx
  ui/src/lib/interfaces.ts
  ui/src/lib/types.ts
  ui/src/pages/publications/[id]/edit.tsx
  ui/src/pages/search.tsx
  ui/src/stores/publicationCreation.ts
Labels: enhancement, api, ui

#121 Addressed #114 #119 #71
  api/package-lock.json
  api/package.json
  ui/.eslintrc.json
  ui/package-lock.json
  ui/package.json
  ui/src/pages/_app.tsx
  ui/src/pages/_document.tsx
Labels: Fix, improvements needed

#122 Fixed all linting & formatting errors.
  api/.eslintrc.json
  api/package.json
  api/src/components/coauthor/__tests__/createCoAuthor.test.ts
  api/src/components/coauthor/__tests__/deleteCoAuthor.test.ts
  api/src/components/coauthor/__tests__/linkCoAuthor.test.ts
  api/src/components/coauthor/__tests__/updateCoAuthor.ts
  api/src/components/link/controller.ts
  api/src/components/publication/controller.ts
  api/src/components/user/__tests__/getUserPublications.test.ts
  api/src/lib/testUtils.ts
  ui/.eslintrc.json
  ui/src/components/Alert/index.tsx
  ui/src/components/LearnAboutOctopus/index.tsx
  ui/src/components/Link/index.tsx
  ui/src/components/Pagination/index.tsx
  ui/src/components/Publication/Creation/StepFive.tsx
  ui/src/components/TextEditor/index.tsx
  ui/src/components/Toast/index.tsx
  ui/src/components/Video/HTML/index.tsx
  ui/src/components/index.tsx
  ui/src/pages/_app.tsx
  ui/src/pages/search.tsx
Labels: Fix

#125 Ethical statement (OCT-143)
  api/prisma/migrations/20220429130609_init/migration.sql
  api/prisma/schema.prisma
  api/src/components/publication/schema/create.ts
  api/src/components/publication/schema/update.ts
  api/src/components/publication/service.ts
  api/src/components/rating/__tests__/getRating.ts
  api/src/lib/interface.ts
  ui/src/components/Publication/Creation/DeclarationsAndStatements.tsx
  ui/src/components/Publication/Creation/StepThree.tsx
  ui/src/components/index.tsx
  ui/src/config/values.ts
  ui/src/layouts/BuildPublication.tsx
  ui/src/lib/helpers.tsx
  ui/src/lib/interfaces.ts
  ui/src/lib/types.ts
  ui/src/pages/publications/[id]/edit.tsx
  ui/src/pages/publications/[id]/index.tsx
  ui/src/stores/publicationCreation.ts
Labels: enhancement, api, ui
