Repository JiscSD/octopus, pull requests merged in 2022-05, with the labels that each got.

#126 Create and delete a bookmark API endpoints
  api/prisma/migrations/20220429130609_init/migration.sql
  api/prisma/schema.prisma
  api/prisma/seeds/bookmarkedPublications.ts
  api/prisma/seeds/index.ts
  api/serverless.yml
  api/src/components/bookmark/__tests__/createBookmark.test.ts
  api/src/components/bookmark/__tests__/removeBookmark.test.ts
  api/src/components/bookmark/controller.ts
  api/src/components/bookmark/routes.ts
  api/src/components/bookmark/service.ts
  api/src/lib/interface.ts
  api/src/lib/testUtils.ts
  api/tsconfig.json
Labels: api

#127 Get bookmark- API
  api/prisma/migrations/20220503122720_y/migration.sql
  api/prisma/migrations/20220503124526_shauna/migration.sql
  api/prisma/schema.prisma
  api/prisma/seeds/bookmarkedPublications.ts
  api/serverless.yml
  api/src/components/bookmark/__tests__/getAllBookmarks.test.ts
  api/src/components/bookmark/__tests__/getBookmark.test.ts
  api/src/components/bookmark/controller.ts
  api/src/components/bookmark/routes.ts
  api/src/components/bookmark/service.ts
  api/src/lib/interface.ts
Labels: api

#129 Add dates range to search filters on the Get Publications API endpoint
  api/src/components/publication/schema/getAll.ts
  api/src/components/publication/service.ts
  api/src/lib/interface.ts
  ui/package.json
  ui/src/pages/search.tsx
Labels: enhancement, api, ui

#124 Import Word documents (OCT-203)
  infra/create-app/provider.tf
  ui/package-lock.json
  ui/package.json
  ui/public/images/docx.svg
  ui/src/components/TextEditor/index.tsx
Labels: enhancement, ui

#131 Update mediaBucket values
  api/serverless.yml
  infra/.gitignore
  infra/create-app/int.tfvars
  infra/modules/s3/main.tf
  ui/src/config/urls.ts
Labels: bug

#133 Create peer review from publication page (query params) OCT-197
  ui/src/pages/create.tsx
Labels: enhancement, ui

#132 Bookmark feature - UI
  api/src/components/bookmark/service.ts
  ui/src/components/Nav/index.tsx
  ui/src/components/Publication/BookmarkedPublications/index.tsx
  ui/src/components/Publication/Creation/CoAuthor.tsx
  ui/src/components/Publication/SimpleResult/index.tsx
  ui/src/components/index.tsx
  ui/src/config/endpoints.ts
  ui/src/config/urls.ts
  ui/src/lib/interfaces.ts
  ui/src/pages/account.tsx
  ui/src/pages/my-bookmarks.tsx
  ui/src/pages/publications/[id]/index.tsx
Labels: ui

#135 Red flagging (OCT-195)
  api/nodemon.json
  api/package.json
  api/serverless.yml
  api/src/components/flag/__tests__/createFlag.test.ts
  api/src/components/flag/__tests__/createFlagComment.test.ts
  api/src/components/flag/__tests__/resolveFlag.test.ts
  api/src/components/flag/controller.ts
  api/src/components/flag/routes.ts
  api/src/components/flag/schema/createFlag.ts
  api/src/components/flag/schema/createFlagComment.ts
  api/src/components/flag/schema/index.ts
  api/src/components/flag/service.ts
  api/src/components/publication/controller.ts
  api/src/components/publication/routes.ts
  api/src/components/publication/schema/index.ts
  api/src/components/publication/service.ts
  api/src/lib/interface.ts
  api/thunder-tests/thunderActivity.json
  api/thunder-tests/thunderCollection.json
  api/thunder-tests/thunderEnvironment.json
  api/thunder-tests/thunderclient.json
  api/tsconfig.json
  ui/src/components/Alert/index.tsx
  ui/src/components/Avatar/index.tsx
  ui/src/components/Button/index.tsx
  ui/src/components/Flag/Comment/index.tsx
  ui/src/components/Flag/NewComment/index.tsx
  ui/src/components/Flag/Preview/index.tsx
  ui/src/components/Publication/ContentSection/index.tsx
  ui/src/components/Publication/SidebarCard/Actions/Button.tsx
  ui/src/components/Publication/SidebarCard/Actions/index.tsx
  ui/src/components/Publication/SidebarCard/General/index.tsx
  ui/src/components/RequiredIndicator/index.tsx
  ui/src/components/index.tsx
  ui/src/config/endpoints.ts
  ui/src/config/urls.ts
  ui/src/config/values.ts
  ui/src/lib/interfaces.ts
  ui/src/lib/types.ts
  ui/src/pages/publications/[id]/flag/[flagId]/index.tsx
  ui/src/pages/publications/[id]/index.tsx
Labels: enhancement, api, ui

#136 Add funders to a publication - API and UI
  api/prisma/migrations/20220509132112_/migration.sql
  api/prisma/migrations/20220509153508_cool/migration.sql
  api/prisma/schema.prisma
  api/prisma/seeds/publications.ts
  api/serverless.yml
  api/src/components/funder/__tests__/createFunder.test.ts
  api/src/components/funder/__tests__/deleteFunder.test.ts
  api/src/components/funder/controller.ts
  api/src/components/funder/routes.ts
  api/src/components/funder/schema/create.ts
  api/src/components/funder/schema/index.ts
  api/src/components/funder/service.ts
  api/src/components/publication/service.ts
  api/src/lib/interface.ts
  api/tsconfig.json
  package-lock.json
  ui/src/components/Publication/Creation/Funders.tsx
  ui/src/components/index.tsx
  ui/src/lib/interfaces.ts
  ui/src/lib/types.ts
  ui/src/pages/publications/[id]/edit.tsx
  ui/src/stores/publicationCreation.ts
Labels: api, ui

#137 OCT-209 Supply and verify email address
  README.md
  api/.env.example
  api/package-lock.json
  api/package.json
  api/prisma/migrations/20220513083024_oct209_verification/migration.sql
  api/prisma/schema.prisma
  api/serverless.yml
  api/src/components/user/controller.ts
  api/src/components/user/routes.ts
  api/src/components/user/service.ts
  api/src/components/verification/__tests__/confirmCode.test.ts
  api/src/components/verification/__tests__/requestCode.test.ts
  api/src/components/verification/controller.ts
  api/src/components/verification/routes.ts
  api/src/components/verification/service.ts
  api/src/lib/email.ts
  api/src/lib/interface.ts
  api/src/lib/testUtils.ts
  api/tsconfig.json
  ui/src/components/Button/index.tsx
  ui/src/components/Header/index.tsx
  ui/src/components/Publication/SidebarCard/Actions/index.tsx
  ui/src/config/endpoints.ts
  ui/src/config/urls.ts
  ui/src/lib/helpers.tsx
  ui/src/pages/account.tsx
  ui/src/pages/verify.tsx
Labels: bug, enhancement, api, ui

#139 OCT-210 Date filter input type for date picker
  ui/src/pages/search.tsx
Labels: enhancement, ui

#145 OCT-209 Updated copy for verify email page
  ui/src/pages/verify.tsx
Labels: ui

#146 UI bug fixes 20 05 2022
  ui/src/components/Alert/index.tsx
  ui/src/components/Nav/index.tsx
  ui/src/components/Publication/SidebarCard/Actions/index.tsx
  ui/src/components/Publication/SidebarCard/General/index.tsx
  ui/src/pages/publications/[id]/index.tsx
  ui/src/pages/verify.tsx
Labels: Fix

#152 Problem statements
  api/prisma/seed.ts
  api/prisma/seeds/index.ts
  api/prisma/seeds/problems.ts
  api/prisma/seeds/users.ts
  api/prisma/seeds/usersDevSeedData.ts
Labels: enhancement, api

#155 Create a 'funders statement' free text field - API & UI
  api/prisma/migrations/20220524111833_init/migration.sql
  api/prisma/schema.prisma
  api/src/components/publication/schema/create.ts
  api/src/components/publication/schema/update.ts
  api/src/components/publication/service.ts
  api/src/lib/interface.ts
  ui/src/components/Button/index.tsx
  ui/src/components/Publication/Creation/Funders.tsx
  ui/src/components/Publication/Creation/StepTwo.tsx
  ui/src/layouts/BuildPublication.tsx
  ui/src/lib/helpers.tsx
  ui/src/lib/interfaces.ts
  ui/src/lib/types.ts
  ui/src/pages/publications/[id]/edit.tsx
  ui/src/pages/publications/[id]/index.tsx
  ui/src/stores/publicationCreation.ts
Labels: api, ui
